[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[project]
name = "segytools"
version = "0.0.3"
authors = [
  { name="Anthony Torlucci", email="anthonytorlucci@gmail.com" },
]
description = "A python package for low-level manipulation of segy files for seismic data."
readme = "README.md"
license = { file="LICENSE" }
requires-python = ">=3.7"
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
]

[project.urls]
"Homepage" = "https://github.com/anthonytorlucci/segytools"